body {
  font-family: proxima_novaregular, arial, helvetica, sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 78px 0;
  height: 92px;
}

.wrapper__color_black {
  width: 32%;
  height: 900px;
  background: #000;
}

.header__title,
.header__language {
  display: inline-block;
}

.header__title {
  font: 500 30px/37px proxima_novaregular, arial, helvetica, sans-serif;
  color: #fff;
  margin: 36px 52% 0 56px;
  letter-spacing: 0.07em;
}

.header__language {
  font: 500 20px/25px proxima_novaregular, arial, helvetica, sans-serif;
  color: #fff;
}

.header__language:hover {
	opacity: 0.4;
	cursor: pointer;
}

.header__language::after {
	content: "";
	margin: 2px 7px;
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.wrapper__color_white {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hamburger-menu {
  background: #E5E5E5;
  width: 92px;
  height: 92px;
}

.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #000;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: '';
  margin-top: 0;
}

.menu__btn > span::after {
  content: '';
  margin-top: 9px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 28px;
  right: 38px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.a-section {
  display: block;
  justify-content: space-between;
  position: relative;
  margin: 0 0 38px 0;
}

.description-wrapper {
  background: top left 25% no-repeat url(img/image1.png);
  padding: 7% 0 5% 55%;
  margin: 0 0 67px 0;
  height: 397px;
  width: 491px;
  border-radius: 0px;
}

.a-section__title {
  font: 800 80px/82px proxima_nova_condensedbold, arial, helvetica, sans-serif;
  color: #000;
  margin: 0 0 20px 0;
}

.a-section__text {
  font: 500 15px/21px proxima_novaregular, arial, helvetica, sans-serif;
  color: #000;
  margin: 0 80px 36px 0;
}

.a-section__button {
  display: inline-block;
  font: 13px proxima_novaregular, arial, helvetica, sans-serif;
  margin: 0 54px 36px 0;
  width: 203px;
  height: 44px;
  border: 1.5px solid #000;
  box-sizing: border-box;
  color: #000;
  padding: 14px 41px;
  text-decoration: none;
  transition: opacity 0.5s;
}

.a-section__button:hover {
  opacity: 0.5;
  background: #0056ec;
}

.a-section__button-other-offers {
  display: inline;
  font: 13px proxima_novaregular, arial, helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
}

.a-section__arrow {
  display: inline;
  margin: 0 0 0 10px;
  width: 43px;
  height: 10px;
  border-width: 0;
}

.a-section__arrow:hover {
	opacity: 0.4;
}

.button__vector2 {
  display: none;
}

.wrapper {
  display: inline;
  justify-content: center;
	left: 10px;
	bottom: 28px;
	align-items: center;
	flex-wrap: nowrap;
	width: 240px;
	height: 100px;
}

.a-section__social-media {
  display: flex;
  padding: 9px 0 9px 50px;
  width: 34px;;
	height: 2.9vw;
}

.a-section__social-media-button-inst,
.a-section__social-media-button-vk,
.a-section__social-media-button-f-book {
  transition: opacity 0.5s ease-out;
}

.a-section__social-media-button-inst:hover,
.a-section__social-media-button-vk:hover,
.a-section__social-media-button-f-book:hover {
	opacity: 0.4;
	cursor: pointer;
}

.a-section__vk-icon {
  padding: 0 14px;
}

.scroll {
  position: relative;
  margin-right: 50%;
  width: 27px;
  height: 46px;
}

.a-section__img-oval {
  position: absolute;
  padding: 0 0 0 500px;
}

.a-section__img-sign {
  position: absolute;
  background-size: 50%;
  padding: 10px 0 0 512px;
}

.b-section {
  height: 900px;
  background: #fae8e4;
}

.b-section-wrapper {
	width: 89%;
  margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.b-section__img-grey {
  position: absolute;
  padding: 20px 40px 0 50px;
}

.b-section__img-pink {
  position: absolute;
  padding: 80px 0 0 154px;
}

.b-section__main-inf {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0 0 63%;
	height: 819px;
	width: 488px;

}

.b-section__description {
  width: 390px;
	height: 560px;
	padding: 0 40px 0 60px;
	margin: 166px 0 0 0;
	background: white;
	box-shadow: 5px 5px 30px #c0afbd;
}

.b-section__title {
  font: 800 40px/41px proxima_nova_condensedbold, arial, helvetica, sans-serif;
  color: #000;
  margin: 46px 0 0 0;
}

.b-section__subtitle {
  font: 800 16px/16px proxima_nova_condensedbold, arial, helvetica, sans-serif;
  color: #000;
  Letter: 7%;
  opacity: 0.5;
  margin: 14px 0 62px 0;
}

.b-section__text {
  font: proxima_novaregular, arial, helvetica, sans-serif;
  margin: 0 20px 38px 0;
  opacity: 0.5;
}

.b-section__choose-wrapper {
	padding-top: 54px;
	width: 367px;
	height: 43px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.b-section__choose-color-container {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-section__circle {
  width: 30px;
	height: 30px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	transition: opacity .5s ease-out;
}

.b-section__circle:hover {
	opacity: 0.4;
	cursor: pointer;
}

.b-section__circle_active {
	width: 38px;
	height: 38px;
}

.b-section__circle_grey {
  background: #ded;
}

.b-section__circle_pink {
  background: #f29f9f;
}

.b-section__circle_blue {
  background: #a8bff9;
}

.b-section__circle_green {
  background: #90bd8f;
}

.b-section__price {
    font: 800 48px/50px proxima_nova_condensedbold, arial, helvetica, sans-serif;
    margin: 0 6% 0 0;
}

.b-section__buttons-wrapper {
  padding-top: 52px;
	width: 365px;
	height: 43px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.b-section__counter {
  padding: 15px 20px 17px 18px;
	margin-right: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 58px;
	height: 12px;
	border: 1.5px solid #000;
}

.b-section__counter-element-minus,
.b-section__counter-element-plus {
  text-decoration: none;
  font: 500 15px proxima_novaregular, arial, helvetica, sans-serif;
  width: 12px;
}

.b-section__counter-element {
	font: 500 15px proxima_novaregular, arial, helvetica, sans-serif;
	transition: opacity .5s ease-out;
  margin: 0 22px;
}

.b-section__counter-element:hover {
	opacity: 0.4;
	cursor: pointer;
}

.b-section__add-button {
  padding: 22px 45px;
	width: 163px;
	font-weight: 500;
	font-size: 13px;
	line-height: 0px;
  text-decoration: none;
  color: #000;
	border: 1.5px solid #000;
	transition: opacity .5s ease-out;
}

.b-section__add-button:hover {
  opacity: 0.4;
  cursor: pointer;
}

.b-section__other-offers-wrapper {
  display: flex;
	justify-content: space-between;
	align-items: center;
  width: 480px;
  color: #000;
  margin: 0 0 0 3%;
  text-decoration: none;
  transition: opacity .5s ease-out;
}

.b-section__other-offers-wrapper:hover {
	opacity: 0.4;
	cursor: pointer;
}

.b-section__other-offers-button {
  font: 500 13px/16px proxima_novaregular, arial, helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  width: 230px;
  height: 58px;
  margin-right: 10px;
}

.b-section__arrow {
  display: inline;
  height: 0;
}

.b-section__arrow:hover {
	opacity: 0.4;
}

.button__vector3 {
  margin: 0 0 40px 0;
}


@media (max-width: 1300px) {
  .header__title {
    margin: 36px 42% 0 56px;
  }

  .description-wrapper {
    background-size: 40%;
  }
}

@media (max-width: 1120px) {
  .header__title {
    margin: 36px 32% 0 56px;
  }

  .description-wrapper {
    background: top 50% left 25% no-repeat url(img/image1.png);
    background-size: 34%;
  }
}

@media (max-width: 980px) {
  .header__language,
  .a-section__social-media {
    display: none;
  }

  .header {
    margin: 0;
  }

  .hamburger-menu {
    position: relative;
    margin-right: 0;
  }

  .description-wrapper {
    background: top 50% left 10% no-repeat url(img/image1.png);
    background-size: 34%;
    padding: 7% 0 5% 45%;
  }

  .a-section__title {
    font: 700 50px/51px proxima_nova_condensedbold, arial, helvetica, sans-serif;
    margin: 0 0 20px 0;
    width: 297px;
    height: 103px;
  }

  .a-section__button {
    margin: 0 10px 36px 0;
  }
}

@media (max-width: 780px) {
  .description-wrapper {
    text-align: left;
    padding: 478px 0 0 33%;
    background: top 10% left 30% no-repeat url(img/image1.png);
    background-size: 60%;
  }
}

@media (max-width: 600px) {
  .header__language,
  .a-section__text,
  .a-section__button,
  .a-section__button-other-offers,
  .button__vector,
  .a-section__social-media {
    display: none;
  }

  .header__title {
    margin: 36px 32% 0 40px;
  }

  .button__vector2 {
    display: flex;
    margin: 0 0 0 10%;
  }
}

@media (max-width: 375px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 70px;
  }

  .wrapper__color_black {
    background: #fff;
  }

  .wrapper__color_white {
    margin: 0;
  }

  .hamburger-menu {
    background: #ededed;
    height: 70px;
    width: 70px;
  }

  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 12px;
  }

  .a-section__title {
    font: 700 50px/51px proxima_nova_condensedbold, arial, helvetica, sans-serif;
    margin: 234px 0 0 32px;
    letter-spacing: 0.06em;
  }

  .description-wrapper {
    text-align: left;
    padding: 130px 0 0 0;
    background-size: 50%;
    background: top 100% left no-repeat url(img/image11.png);
  }

  .header__title {
    font: 600 30px/37px proxima_novaregular, arial, helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 14px 0 0 26px;
    letter-spacing: 0.2em;
  }

  .button__vector2 {
    display: flex;
    margin: 0 0 0 35%;
  }
}
